<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>operatoerServlet</servlet-name>
		<servlet-class>opr.server.impl.MySQLOperatoerDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>operatoerServlet</servlet-name>
		<url-pattern>/_8_cdiofinal/loginservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>aseServlet</servlet-name>
		<servlet-class>opr.server.impl.ASE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aseServlet</servlet-name>
		<url-pattern>/_8_cdiofinal/aseservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dbServlet</servlet-name>
		<servlet-class>opr.server.impl.UnitDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbServlet</servlet-name>
		<url-pattern>/_8_cdiofinal/dbservice</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>_8_CDIOFinal.html</welcome-file>
	</welcome-file-list>

</web-app>
